<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DMaxCare | <%= title %></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="../../plugins/toastr/toastr.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        <a href="/"><b>DMax</b>Care</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg" style="font-size: 30px; padding-bottom: 5px ">I'm a</p>
            <ul class="nav nav-pills ml-auto p-2" id="myTab" role="tablist">
                <li style="margin-left: 10%" class="nav-item">
                    <div data-toggle="tab" href="#doctor" role="tab" aria-controls="home" aria-selected="true"
                         class="nav-link active">
                        <i class="fas fa-user-md fa-7x"></i>
                        <p class="login-box-msg" style="font-size: 20px; margin-top: 10px; padding-bottom: 2px ">
                            Doctor</p>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="nav-link" id="patient-login" data-toggle="tab" href="#patient" role="tab"
                         aria-controls="profile" aria-selected="false">
                        <i data-toggle="tab" role="tab" href="#patient" class="fas fa-user-injured fa-7x"></i>
                        <p class="login-box-msg" style="font-size: 20px; margin-top: 10px; padding-bottom: 2px">
                            Patient</p>
                    </div>

                </li>
            </ul>
            <div class="tab-pane fade show active" id="doctor" role="tabpanel" aria-labelledby="doctor">
                <p class="login-box-msg">Create A Doctor's Account</p>
                <form method="post">
                    <input hidden type="text" name="doctor" value="true">
                    <div class="input-group mb-3">
                        <input required type="text" name="name"
                        <% if(typeof req != 'undefined'){ %> value="<%= req.name %>"
                                <% } %>
                               class="form-control" placeholder="Full Name">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required type="email" name="email"
                        <% if(typeof req != 'undefined'){ %> value="<%= req.email %>"
                                <% } %>
                               class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required type="text" name="nid" class="form-control"
                        <% if(typeof req != 'undefined'){ %> value="<%= req.nid %>"
                                <% } %>
                               placeholder="National ID">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-id-card"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required type="text" name="phone" class="form-control"
                        <% if(typeof req != 'undefined'){ %> value="<%= req.phone %>"
                                <% } %>
                               placeholder="Phone Number">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-phone"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required type="password" name="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required type="password" name="password2" class="form-control"
                               placeholder="Retype password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required type="text" name="invite" class="form-control" placeholder="Invitation Code">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-file-invoice"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="patient" role="tabpanel" aria-labelledby="patient">
                <p class="login-box-msg">Sign In To Start Using Your Patient's Portal </p>
                <form method="post">
                    <input hidden type="text" name="doctor" value="false">
                    <div class="input-group mb-3">
                        <input required type="text" name="name"
                        <% if(typeof req != 'undefined'){ %> value="<%= req.name %>"
                                <% } %>
                               class="form-control" placeholder="Full Name">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required type="email" name="email"
                        <% if(typeof req != 'undefined'){ %> value="<%= req.email %>"
                                <% } %>
                               class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required type="text" name="nid" class="form-control"
                        <% if(typeof req != 'undefined'){ %> value="<%= req.nid %>"
                                <% } %>
                               placeholder="National ID">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-id-card"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required type="text" name="phone" class="form-control"
                        <% if(typeof req != 'undefined'){ %> value="<%= req.phone %>"
                                <% } %>
                               placeholder="Phone Number">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-phone"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required type="password" name="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required type="password" name="password2" class="form-control"
                               placeholder="Retype password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <a href="/auth/login" class="text-center">Already Have An Account?</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- Toastr -->
<!--<script src="../../plugins/toastr/toastr.min.js"></script>-->

<!--<--% if(typeof errors != 'undefined'){ %-> <-% errors.forEach(function(error) { %->-->
<!--    <script>-->
<!--        toastr.error("<-%= error.msg %->");-->
<!--    </script>-->
<!--<--% }); %-> <-% } %->-->
<% include partials/toasts.ejs %>
</body>
</html>
